@charset "UTF-8";

.cf:before,
.cf:after {
  content:"";
  display:block;
  overflow:hidden;
}

.cf:after {
  clear:both;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.sidebar {
  float: left;
  width: 250px;
  padding: 30px;
  background-color: #CCB3DD;
}

.sidebar li + li {
  margin-top: 20px;
}

.sidebar li > a {
  color: #FFF;
  text-decoration: none;
}

.sidebar + .articles {
  margin-left: 40px;
}

.articles {
  float: left;
  width: 500px;
  color: #333;
}

.articles h2 {
  margin: 0;
  padding: 10px;
  background-color: #9D73BB;
  color: #FFF;
}

.articles-list figure {
  float: right;
  margin: 0;
}

button {
  padding: 10px;
}

.purplecoat {
  display: none;
  position: absolute;
  padding: 5px;
  box-sizing: border-box;
  background-color: rgba(142, 68, 173, 0.8);
  color: #FFF;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}

.purplecoat-inner {
  display: table;
  width: 100%;
  height: 100%;
}

.purplecoat-inner-text {
  display: table-cell;
  vertical-align: middle;
}
