@charset "UTF-8";

/*———————————–———————————–
  Overwrite Bootstrap
———————————–———————————–*/

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.btn-default {
  border-color: #804897 !important;
  background-color: #9b59b6 !important;
  color: #FFF !important;
}

.btn-default:hover {
  border-color: #783892 !important;
  background-color: #8e44ad !important;
  color: #FFF !important;
}

/*———————————–———————————–
  Styles
———————————–———————————–*/

.title {
  font-family: 'Gentium Book Basic', serif;
  font-size: 50px;
  font-style: italic;
  font-weight: 400;
}